body {
	font-family: Calibri;
}

strong {
	color: blue;
	text-transform: uppercase;
}

h1, h2 {
	text-align: center;
}

canvas {
    width: 500px;
    height: 200px;
    margin-top: 10px;
    background-color: white;
    border: 2px solid #c3c3c3;
}

table#tablaDatos {
	display: none;
	margin: 0px auto;
}

.firmaMensaje {
	position: absolute;
	top: 210px;
	left: 0;
}

.oculto, .linea {
	display: none;
}


.menu table {
	margin: 0px auto;
	margin-bottom: 100px;
	text-align: left;
	border-radius: 10px;
	box-shadow: 3px 3px 3px 3px #c7c7c7;
}

.menu tr.pintar {
	background: #edeffe;
}

.menu td {
	padding: 15px;
	font-size: 1.5rem; 
}

.menu th {
	background: rgb(112, 146, 190);
	font-size: 1.7rem;
	padding: 5px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 2px 2px 2px black;
}

.menu a {
	color: black;
	text-transform: uppercase;
}

.menu a:hover {
	color: #2121ff;
}

.regresar {
	position: absolute;
	top: 0;
	left: 0;
	height: 60px;
	padding: 15px;
}

.regresar:hover {
	filter: brightness(110%);
}

table, tr, th, td {
	font-size: 1.3rem;
	border: 1px solid black;
	border-collapse: collapse;
}

tr, table {
	border: 0px;
}

tr.contenedor_relleno td, tr.contenedor_relleno th {
	border: 0px;
}

.formulario {
	max-width: 550px;
	text-align: left;
	font-size: 1.4rem;
	padding: 15px;
	margin: 25px auto;
	border: 1px solid black;
	background: #edeffe;
	border-radius: 10px;
	box-shadow: 3px 3px 3px 3px #c7c7c7;
}

.formulario .titulo {
	text-align: center;
	margin: 10px;
}

table {
	margin: 20px auto;
}

input, select {
	display: block;
	padding: 5px;
	background: white;
}

input, label, select {
	font-size: 1.5rem;
	margin: 8px;
}

input[type='submit'] {
	display: block;
	padding: 7px;
	border-radius: 2px;
}

input[type='submit']:hover, button:hover {
	filter: brightness(109%);
	cursor: pointer;
}

.btn-tabla {
	margin: 20px auto;
	margin-bottom: 50px;
	background: #a1d9a1;
	border-color: #87c7ba;
	font-size: 1.4rem;
}

.btn-datos {
	font-size: 1.5rem;
	padding: 10px;
	text-shadow: 1px 1px #eaeaea;
	text-align: center;
	margin: 20px auto;
	background: #a1a1d9;
	border-color: #87bac7;
}